
.fontello-star-half-alt:before { content: '\e803'; } /* '' */
.fontello-flag:before { content: '\e801'; } /* '' */
.fontello-down-open:before { content: '\e802'; } /* '' */
.fontello-globe:before { content: '\e800'; } /* '' */