
.icon-star-half-alt:before { content: '\e803'; } /* '' */
.icon-flag:before { content: '\e801'; } /* '' */
.icon-down-open:before { content: '\e802'; } /* '' */
.icon-globe:before { content: '\e800'; } /* '' */